<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.suhy.graduation1.mapper.work1.BettingContentMapper">
    <resultMap id="BaseResultMap" type="com.suhy.graduation1.entity.work1.BettingContentEntity">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="lottery_id" property="lotteryId" jdbcType="BIGINT"/>
        <result column="site_id" property="siteId" jdbcType="BIGINT"/>
        <result column="expect" property="expect" jdbcType="VARCHAR"/>
        <result column="betting_content" property="bettingContent" jdbcType="VARCHAR"/>
        <result column="play_mode_code" property="playModeCode" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, expect, betting_content, play_mode_code
    </sql>

    <select id="getBettingContentByPlayModeCodes" resultMap="BaseResultMap" parameterType="java.lang.Object">
        SELECT
        <include refid="Base_Column_List"/>
        FROM betting_content
        <where>
            <if test="playModeCodes!=null and playModeCodes.size>0">
                AND play_mode_code in
                <foreach collection="playModeCodes" index="index" item="playModeCode" open="(" separator="," close=")">
                    #{playModeCode}
                </foreach>
            </if>
        </where>
        limit 100
    </select>
</mapper>